.charge {
  .banner {
    font-size: 16px;
    line-height: 24px;
    h1 {
      font-size: 48px;
      line-height: 70px;
      margin: 0 auto 16px;
    }
  }
  .main {
    margin-bottom: 100px;
  }

  .wrapper {
    h2 {
      font-size: 32px;
      line-height: 46px;
      margin-bottom: 48px;
    }
    &:first-child {
      .tab {
        gap: 16px;
        li a {
          color: @primary;
          padding: 12px 32px;
          border: 1px solid @primary;
          border-radius: 99px;
          display: block;
          transition: all 0.8s;
          &:hover,
          &.current {
            color: @white;
            background-color: @primary;
          }
        }
      }
      .details {
        font-size: 16px;
        line-height: 24px;
      }
      .card {
        dt {
          padding: 16px 24px;
        }
        .info {
          border-top: 1px solid @border-color;
          display: grid;
          gap: 32px;
          padding: 38px 26px;
        }
        .content {
          display: flex;
          align-items: center;
          gap: 20px;
          &:before {
            font-size: 29px;
            line-height: 42px;
            order: 2;
            content: '=';
            display: block;
          }
        }
        .detail {
          width: 50%;
          font-size: 12px;
          line-height: 17px;
          background-color: @lighter;
          padding: 24px 0;
          border-radius: 12px;
          &:last-child {
            order: 2;
          }
          span {
            font-size: 32px;
            line-height: 35px;
            display: inline-block;
          }
        }
        .check {
          text-align: left;
          li {
            background: url('../images/checkmark-outline.svg') top 4px left no-repeat;
            padding-left: 32px;
            margin: 20px 0;
          }
        }
        .button {
          width: fit-content;
          margin: -4px auto 0;
        }
      }
      h2 {
        font-size: 24px;
        line-height: 35px;
      }
    }
    &:last-child {
      font-size: 18px;
      line-height: 28px;
      .list {
        display: grid;
        gap: 16px;
        .card {
          padding: 16px 32px;
          .title {
            display: flex;
            justify-content: space-between;
            &~p {
              line-height: 32px;
              margin-top: 24px;
            }
          }
        }
      }
      .current {
        color: @primary;
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 767px) {
    nav {
      padding: 20px 16px;
      border-bottom: 2px solid @yellow;
      align-items: center;
    }
    .banner {
      height: 74.212vh;
      background: url('../images/m_bg_2.svg') bottom 5% right 7% no-repeat, #F7F9FD 0% 0% no-repeat;
      border-radius: 0px 0px 0px 150px;
      padding: 48px 20px 0;
      h1 {
        font-size: 32px;
        line-height: 46px;
        margin: 0;
        margin-bottom: 16px;
      }
    }
    .main {
      margin-bottom: 60px;
    }
    .wrapper {
      padding: 0 20px;
      margin-top: 60px;
      h2 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 16px;
      }
      &:first-child {
        .tab {
          width: 100%;
          margin-bottom: 16px;
          display: flex;
          overflow: hidden;
          overflow-x: auto;
          li a {
            white-space: nowrap;
          }
        }
        .details {
          font-size: 14px;
          line-height: 20px;
        }
        .card {
          margin-top: 24px;
          dt {
            padding: 16px;
          }
          .info {
            padding: 24px 16px;
            gap: 24px;
          }
          .content {
            &:before {
              font-size: 24px;
              line-height: 35px;
            }
          }
          .detail {
            span {
              font-size: 28px;
              line-height: 32px;
              display: inline-block;
            }
          }
        }
      }
      &:last-child {
        font-size: 16px;
        line-height: 24px;
        .list {
          .card {
            padding: 16px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    header {
      height: 72.786vh;
      background: url('../images/bg_2.svg') top right no-repeat;
      background-size: contain;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &:after {
        width: 100%;
        height: 84%;
        background:  #F7F9FD 0% 0% no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0px 0px 0px 300px;
        display: inline-block;
        content: '';
        z-index: -1;
      }
    }
    nav {
      flex: 0 0 auto;
      position: relative;
      z-index: 1;
    }
    .banner {
      flex: 1 1 auto;
      align-items: center;
      display: flex;
      margin-top: -60px;
    }
    .wrapper {
      &:first-child {
        margin-top: 11px;
        .tab {
          margin-bottom: 54px;
          display: inline-flex;
        }
        .details {
          display: inline-flex;
          gap: 20px;
        }
      }
      &:last-child {
        margin-top: 94px;
      }
    }
  }
}