@import url(./variable.less);
* {
  box-sizing: border-box;
}
body {
  color: @deep-dark;
  background: url('../images/bg_circle_1.svg') top 76.692vh left -16.251vw no-repeat, url('../images/bg_circle_2.svg') top 220.572vh right -7.32vw no-repeat, url('../images/bg_circle_3.svg') top 312vh left 3.66vw no-repeat;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.text {
  &-center {
    text-align: center;
  }
  &-bold {
    font-weight: bold;
  }
  &-primary {
    color: @primary;
  }
  &-dark {
    color: @dark;
  }
}
.button {
  color: @white;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 32px;
  border-radius: 32px;
  display: inline-block;
  &.accent {
    background-color: @accent;
  }
  &.primary {
    background-color: @primary;
  }
}
.icon {
  display: inline-block;
  overflow: hidden;
  &.round {
    border-radius: 99px;
  }
}
.top {
  position: fixed;
  right: 48px;
  bottom: 24px;
}
.stars {
  display: inline-flex;
  gap: 8px;
  .star {
    &:after {
      color: @yellow-dark;
      content: '★';
    }
  }
}
.box-shadow {
  box-shadow: @box-shadow rgba(@black, 0.14);
}
.card {
  font-size: 16px;
  line-height: 24px;
  background-color: @white;
  border-radius: 12px;
  display: inline-block;
  overflow: hidden;
}
.carousel {
  display: flex;
  justify-content: center;
  gap: 8px;
  li a {
    width: 10px;
    height: 10px;
    background-color: @border-color;
    transition: background 0.8s;
    &:hover {
      background-color: @yellow;
    }
    &.current {
      width: 16px;
      background-color: @yellow;
    }
  }
}
footer {
  font-size: 16px;
  line-height: 24px;
  background-color: @lighter;
  padding: 16px 0;
}