@import url(./variable.less);

header {
  height: 100vh;
  background: url('../images/home@2x.png') center right 10% no-repeat, url('../images/bg_yellow.svg') top right no-repeat;
  background-size: 39% auto, 62% auto;
  display: flex;
  flex-direction: column;
}
nav {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  .logo {
    display: block;
    height: 2.928vw;
    max-height: 40px;
    min-height: 24px;
  }
}
.banner {
  font-size: 20px;
  line-height: 29px;
  display: inline-flex;
  flex-shrink: 1;
  flex-grow: 1;
  .description {
    align-self: center;
  }
  h1 {
    font-size: 48px;
    line-height: 70px;
    margin: 8px auto 16px;
  }
  h5 {
    font-size: 18px;
    line-height: 26px;
  }
}
.wrapper {
  margin-top: 100px;
  h2 {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 16px;
  }
  .list {
    margin: 48px 0;
    display: flex;
    justify-content: space-around;
  }
  &:first-child {
    .card {
      display: grid;
      gap: 24px;
    }
    .cover {
      width: 90px;
      line-height: 0;
      margin: 0 auto;
    }
    h6 {
      font-size: 24px;
      line-height: 36px;
    }
  }
  &:nth-child(2),
  &:nth-child(3) {
    .list {
      margin: 48px 0;
      display: inline-flex;
      gap: 16px;
    }
    .card {
      p {
        margin-top: 16px;
      }
      .info {
        padding: 16px;
        padding-bottom: 24px;
      }
    }
  }
  &:nth-child(2) {
    font-size: 20px;
    line-height: 29px;
  }
  &:nth-child(3) {
    font-size: 18px;
    line-height: 26px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .card {
      max-width: 230px;
      width: 16.837vw;
      padding: 32px;
      .icon {
        width: 86px;
        height: 86px;
        padding: 17px;
        margin-bottom: 24px;
      }
    }
    .button {
      margin-top: 24px;
    }
  }
  &:last-child {
    .list {
      gap: 16px;
      margin-top: 48px;
    }
    .icon {
      margin-left: 32px;
    }
    .card {
      padding: 48px 32px 24px;
      margin-top: -48px;
      .info {
        padding-top: 16px;
        border-top: 1px solid @border-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;
        p {
          flex: 0 0 100%;
        }
      }
    }
  }
}