@import url(./variable.less);

header {
  height: 100vh;
  background: url('../images/home.png') bottom 5% right 2% no-repeat, url('../images/m_bg_yellow.svg') bottom 4% right no-repeat;
  background-size: auto 45%, auto;
}
nav {
  padding: 24px 20px;
  border-bottom: 2px solid @yellow;
  display: flex;
  justify-content: space-between;
  .logo {
    display: block;
    height: 2.928vw;
    max-height: 40px;
    min-height: 24px;
  }
}

.banner {
  font-size: 16px;
  line-height: 24px;
  margin: 8.53% auto;
  h1 {
    font-size: 32px;
    line-height: 46px;
    margin: 8px auto 16px;
  }
}