body {
    width: 100%;
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    padding: 0;
    margin: 0;
}
.btn {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.btn.solid {
    color: #707070;
    background: #FCEBB3;
    padding: 8px 12px;
}
section,
#map {
    width: 100vw;
    height: 100vh;
}
#landing,
.emptyBox {
  text-align: center;
  background: linear-gradient(217deg, #ff9371, #f44336),
            linear-gradient(127deg, #FF5722, #de4b1d),
            linear-gradient(336deg, #f44336, #de4b1d);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing article {
  margin-top: -60px;
}
#landing article::before {
    width: 60px;
    height: 60px;
    background: url('/images/me.svg') no-repeat 0 0;
    background-size: contain;
    margin: 0 auto;
    content: '';
    display: block;
}
#landing .btn.solid {
    font-weight: bold;
    border-right: 3px solid #de4b1d;
    border-bottom: 2px solid #de4b1d;
    border-radius: 6px;
    box-shadow: 2px 3px 0 #de4b1d;
    margin-left: 5px;
    margin-top: 20px;
}
#landing .btn.solid:hover {
    border-right: none;
    border-bottom: none;
    box-shadow: none;
    margin-left: 10px;
    margin-top: 22px;
}
#main {
    color: #707070;
    position: relative;
    display: flex;
}
#map {
    height: 60vh;
}
#shopFilter {
    width: 100%;
    height: 40Vh;
    background: #fff;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
#shopFilter ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.sortTab {
    height: 45px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sortNav, #shopFilter p {
    margin: 0;
}
.sortTab span {
    color: #ed7373;
    font-weight: bold;
}
.emptyResult {
    text-align: center;
    line-height: 40vh;

}
.sortNav li {
    cursor: pointer;
    padding-left: 20px;
}
.sortNav li.active {
    font-weight: bold;
}
#shopList {
    width: calc(100% - 40px);
    height: calc(100% - 45px);
    padding: 0;
    padding-bottom: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-y: auto;
}
#shopList li {
    width: calc(100vw / 3);
    margin: 5px 20px 5px 5px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 0 5px #eee;
    flex: 0 0 calc(100% / 3);
    transition: all linear 0.1s;
    overflow: hidden;
}
#shopList li:hover {
    margin-top: 0;
    margin-bottom: 10px;
    box-shadow: 0 1px 7px #ddd;
}
.shopCard,
.shopCard * {
    margin: 0;
}
.shopCard {
    height: 100%;
}
.shopCard .shopImg {
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.shopCard .shopImg span {
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 3px #707070;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 0 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.shopCard .shopImg img {
    width: 100%;
}
.emptyBox:after {
    width: 100%;
    height: 100%;
    min-width: 20px;
    min-height: 20px;
    max-width: 40px;
    max-height: 40px;
    background: url('/images/me.svg') no-repeat center center;
    content: '';
    display: block;
}
.shopCard .shopInfo {
    font-size: 13px;
    padding: 10px;
}
.shopCard .shopInfo h6 {
    width: 100%;
    font-size: 15px;
    line-height: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.shopCard .shopInfo h6::before {
    width: 15px;
    height: 15px;
    background: url('/images/store.svg') no-repeat center center;
    background-size: contain;
    margin-right: 3px;
    content: '';
    display: inline-block;
}
